{% include 'admin-layout.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{% block content %}

<head>
  {% if 'refresh' in session and session.refresh|length > 0 %}
  <meta http-equiv="refresh" content="{{ session.refresh.pop() }}">
  {% endif %}
  <style>
    table {
      border-collapse: collapse;
    }

    table thead th {
      border-bottom: 2px solid #004A82;
    }

    table tr {
      border-bottom: 1px solid #004A82;
    }

    th {
      color: #004A82;
      padding: 5px
    }

    tr {
      height: 80px;
    }

    th,
    td {
      width: 200px;
      text-align: center;
      padding: 5px 10px;
    }

    td:nth-child(1) {
      color: #00008b;
    }

    h2 {
      color: #4287f5;
    }

    table.myTable {
      width: 400px;
      background-color: #eee;
      border: none;
    }

    table.myTable th {
      background-color: #000;
      color: white;
      width: 50%;
    }

    table.myTable td,
    .myTable th {
      width: 150px;
      padding: 5px;
      border: none;
    }

    .noBorder {
      border: none !important;
    }

    .btn-label {
      position: relative;
      left: -12px;
      display: inline-block;
      padding: 6px 12px;
      background: rgba(0, 0, 0, 0.15);
      border-radius: 3px 0 0 3px;
    }

    .btn-labeled {
      padding-top: 0;
      padding-bottom: 0;
    }

    .btn {
      margin-right: 20px;
      margin-left: 20px;
    }
  </style>
</head>

<div class="container-fluid">
  <div class="col-lg-50 mb-10">

    <!-- Approach -->
    <div class="card shadow mb-10">
      <div class="card-header py-3 bg-gradient-secondary">
        <h6 class="m-0 font-weight-bold text-primary" style="color: #fff">Deployment: {{ pipeline.get_pipeline_name() }}
        </h6>
      </div>
      <div class="container-fluid">
        {% with status=pipeline.get_status(), pods_information=pipeline.get_pods_information(), shared_folder_status=pipeline.get_shared_folder_status() %}
        <div class="card-body">
          <!-- Page Heading -->
          {% if status == 'Not Ready' %}
          <button type="button" class="btn btn-labeled btn-danger"><span class="btn-label"><i
             class="fas fa-cog"></i></span>Status: {{status}}</button>
          {% elif status == 'Running' %}
          <button type="button" class="btn btn-labeled btn-success"><span class="btn-label"><i
             class="fas fa-cog"></i></span>Status: {{status}}</button>
          {% else %}
          <button type="button" class="btn btn-labeled btn-primary"><span class="btn-label"><i
             class="fas fa-cog"></i></span>Status: {{status}}</button>
          {% endif %}
          <!-- vertical separator -->
          <span
            style="border-left: solid 2px black; padding-top: 6px; padding-bottom: 10px; margin-left: 5px; margin-right: 5px">
          </span>
          {% if pipeline.is_pipeline() %}
          <a href="/run"><button type="button" class="btn btn-labeled btn-success"><span class="btn-label"><i
                  class="fas fa-play-circle"></i></span>Run</button></a>
          {% endif %}

          <a href="/reset" id="resetPrompt"> <button type="button" class="btn btn-labeled btn-warning"><span
                class="btn-label"><i class="fas fa-sync"></i></span>Reset</button></a>
          <!-- Reset Prompt -->
          <div class="modal fade" id="promptModal" tabindex="-1" role="dialog" aria-labelledby="resetPromptLabel"
            aria-hidden="true">
            <div class="modal-dialog" style=" padding:20px ;background-color: #004A82">
              <div class="modal-content">
                <form method="POST" action="/reset" style="padding: 2px 16px;">
                  <h5 style="color: #004A82;padding:5px;text-align:center">Reset Options</h5>
                  <input type="checkbox" id="checkbox1" name="checkbox1">
                  <label for="checkbox1">Clean shared folder</label>
                  <br>
                  <p>Hint: The images get automatically pulled through the kubernetes when 'Submit' is checked</p>
                  <br>
                  <input type="submit" name="action" value="Submit">
                  <input type="submit" name="action" value="Cancel">
                </form>
              </div>
            </div>
          </div>

          <a href="/delete"><button type="button" class="btn btn-labeled btn-danger"><span class="btn-label"><i
                  class="fas fa-minus-circle"></i></span>Delete</button></a>
          <a href="/logs" target="_blank"><button type="button" class="btn btn-labeled btn-info"><span
                class="btn-label"><i class="fas fa-sign-out-alt"></i></span>Logs</button></a>
          {% if pipeline.has_execution_run_file() %}
          <a href="/execution_run.json" target="_blank"><button type="button" class="btn btn-labeled btn-info"><span
                class="btn-label"><i class="fas fa-sign-out-alt"></i></span>View Execution Metadata</button></a>
          {% endif %}
          <table id='result' align="center">
            <thead>
              <tr>
                <th>Status Check</th>
                <th>Nodename</th>
                <th>Status Details</th>
                <th>Logs</th>
                <th>WebUI/Folder</th>
              </tr>
            </thead>

            <tbody class="bg-gradient-primary">
              {% set status = namespace(value=0) %}
              {% set webui = namespace(value=100) %}
              {% for node in pods_information %}
              <tr>
                <td>
                  {% if node['Status'] %}
                  <img src="/static/img/tick.png" alt="" height=30 width=35></img>
                  {% else %}
                  <img src="/static/img/cross.png" alt="" height=30 width=35></img>
                  {% endif %}
                </td>
                <td style="color: #004A82;">{{ node['Nodename'] }}</td>

                <td>
                  <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="displayStatusDetails('{{ node['PodName'] }}')">
                    <i class="fa-sm text-white-50"></i> view
                  </button>
                </td>
                <td>
                  <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="displayLogs('{{ node['PodName'] }}')">
                    <i class="fa-sm text-white-50"></i> view
                  </button>
                </td>
                <td>
                  {% if node['Web-UI'] == None %}
                  <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                      class="fas fa-external-link-alt"></i></a>
                </td>
                {% else %}
                <div id="{{ webui.value }}" name="{{ webui.value }}" hidden="True">{{ node['Web-UI'] }}</div>
                <a href="#" onclick="displayUI('http://'+document.getElementById({{ webui.value }}).innerHTML);"
                  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-external-link-alt"></i></a></td>
                {% endif %}
              </tr>
              {% set status.value = status.value + 1 %}
              {% set webui.value = webui.value + 1 %}
              {% endfor %}
              {% if shared_folder_status != None %}
              <tr>
                {% set folder = namespace(value=0) %}
                {% set path = namespace(value=5) %}
                <td>{% if shared_folder_status %}
                  <img src="/static/img/tick.png" alt="" height=30 width=35></img>
                  {% else %}
                  <img src="/static/img/cross.png" alt="" height=30 width=35></img>
                  {% endif %}
                </td>
                <td style="color: #004A82;">SharedFolder</td>
                <td>
                  {% if shared_folder_status %}
                  <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                      class="fa-sm text-white-50"></i>view</a>
                </td>
                {% else %}
                <div id="{{ folder.value }}" name="{{ folder.value }}" hidden="True">{{
                  shared_folder_status }}</div>
                <a href="#" onclick="displayStatusSharedFolder(document.getElementById({{ folder.value }}).innerHTML);"
                  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fa-sm text-white-50"></i>view</a></td>
                {% endif %}
                </td>
                <td></td>
                {% set folder.value = folder.value + 1 %}
                {% set path.value = path.value + 1 %}
                <td>
                  {% if shared_folder_status %}
                  <div id="{{ path.value }}" name="{{ path.value }}" hidden="True">127.0.0.250:8000</div>
                  <a href="/shared_folder?path=" target="_blank"
                    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                      class="fas fa-external-link-alt"></i></a>
                </td>
                {% else %}
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-external-link-alt"></i></a></td>
                {% endif %}
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>

        </div>
        {% endwith %}
      </div>
    </div>
  </div>
</div>
</div>

<!--Solution description and solution icon-->
<div class="card-body">
  {% if heading == 'exist' %}
  <h5 style="color:#004A82">Solution description</h5>
  {% endif %}
  <div class="row">
    <div class="col-md-auto">
      <img src="{{ url_for('solution_description', file_url=image_url) }}" alt="" />
    </div>
    <div class="col-sm">
      <object type="text/html" data="{{ url_for('solution_description', file_url=content_url)}}"
        style="width: 100%; height: 300px;"> </object>
    </div>
  </div>
</div>

<div class="version-info">
  {{ session.version_info }}
</div>



{% endblock %}
<!-- Bootstrap core JavaScript-->
<script type="text/javascript">
  function displayStatusSharedFolder(text) {
    var tab_status = window.open('/status', '_blank');
    tab_status.document.write('<pre>' + text + '</pre>');
    tab_status.document.close();
    return false;
  }
  function displayStatusDetails(pod_name) {
    var url = '/status_details?pod_name=' + pod_name ;
    window.open(url, '_blank');

  }
  function displayLogs(pod_name) {
    var url = '/logs?pod_name=' + pod_name ;
    window.open(url, '_blank');
  }
  function displayUI(url) {
    // window.open(url,'popUpWindow','height=300,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes');
    var tab_url = window.open(url, '_blank');
    tab_url.document.close();
    return false;
  }
</script>
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Include jQuery and Bootstrap JS libraries -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<!-- Core plugin JavaScript-->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!--Script for reset prompt dialog box-->
<script>

  document.getElementById("resetPrompt").addEventListener("click", function (e) {
    e.preventDefault();
    $('#promptModal').modal('show');
  });
</script>



</body>

</html>